body{
    background-color: whitesmoke;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover,
nav ul li a.active{
    color: #808080;
    text-decoration: underline;
}
.logo{
    width: 80px;
    height: 20px;
    cursor: pointer;
}
/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Dancing Script', cursive;
}
.img{
    width: 600px;
    height: 500px;
}
button{
    background-color: blue;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid black;
}

